@import url("../../Cores.css");
@import url("../../Global.css");

section.todos-cursos {
  width: 100%;
  min-height: 100vh;
}
.titulo-container {
  width: 100%;
  min-height: 100px;
  background-color: var(--orange-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-container h1 {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
}

.container-cursos {
  width: 90%;
  max-width: 1180px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-curso {
  width: 500px;
  height: 400px;
  margin: 20px;
  display: flex;
  box-shadow: 2px 3px 6px #ccc;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}

.item-curso h3 {
  width: 90%;
  text-align: left;
}

.img-curso {
  width: 90%;
  border-radius: 20px;
  margin-top: 20px;
}

.img-curso img {
  width: 100%;
  object-fit: contain;
}

.detalhes-curso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: -50px;
}

.ver-curso {
  width: 90%;
  font-weight: 600;
  font-size: 22px;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin: 10px;
}

.detalhes-curso p {
  text-align: left;
}
