@import url("../../Cores.css");
.banner {
  width: 100%;
  height: 654px;
  background-image: url("../../assets/banner-index.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.content {
  position: absolute;
  width: 614px;
  text-align: left;
  top: 264px;
}

.content h1 {
  font-size: 56px;
}

.btn-subscribe {
  width: 354px;
  height: 64px;
  background-color: var(--orange-secondary);
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 100px;
}

/**
Diferenciais
*/
.diferenciais {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 548px;
  background-image: url("../../assets/retangulo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.diferenciais h2 {
  position: relative;
  top: 33px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 700;
  font-size: 36px;
}

.diferenciais-content {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.item-diferenciais {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.item-diferenciais img {
  width: 246.5px;
  height: 320px;
}

.item-diferenciais h3 {
  font-size: 32px;
  color: #fff;
  font-style: italic;
  margin-left: -20px;
  margin-top: 10px;
}

.faixa {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100px;
  background-color: var(--blue-primary);
  top: 278px;
}

/**
Sobre
*/

.icone {
  position: absolute;
  right: 0;
  height: 900px;
}

.icone img {
  position: relative;
  height: 100%;
  top: -55%;
  z-index: -1;
}

.row {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
}

.row-img {
  width: 600px;
}

.row-img img {
  width: 100%;
}

.row-text {
  width: 500px;
  margin-left: 30px;
}

.row-text h1 {
  line-height: 1;
  font-size: 40px;
  font-weight: 700;
}

.row-text p {
  margin-top: 20px;
  font-size: 20px;
}

.row:last-of-type {
  justify-content: flex-end;
}

.row:last-of-type .row-text {
  margin-left: 0;
  margin-right: 30px;
}

/*media queries*/
@media screen and (max-width: 1260px) {
  .row {
    justify-content: center;
  }
  .row-img {
    width: 90%;
    max-width: 700px;
  }

  .row-text {
    width: 90%;
    max-width: 700px;
    margin-left: 0;
  }

  .row-text h1 {
    line-height: 1;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
  }

  .row-text p {
    margin-top: 30px;
    text-align: justify;
    font-size: 20px;
  }

  .row:last-of-type {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .row:last-of-type .row-text {
    margin-right: 0;
  }

  .btn-subscribe {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .banner {
    background-size: auto;
    background-position: center;
  }

  .content {
    position: relative;
    top: 200px;
  }

  .content h1 {
    font-size: 50px;
  }

  .btn-subscribe {
    margin-top: 20px;
  }

  .diferenciais {
    margin-top: 0;
  }
}

@media screen and (max-width: 1060px) {
  .banner {
    background-size: auto;
    background-position: center;
  }
  .diferenciais {
    background-position: center;
  }
  .diferenciais-content {
    flex-wrap: wrap;
  }
  .item-diferenciais {
    width: 50%;
  }
  .item-diferenciais img {
    width: 105%;
    height: 105%;
  }

  .item-diferenciais h3 {
    font-size: 32px;
    color: #fff;
    font-style: italic;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 780px) {
  .content {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}
