:root {
  --blue-primary: #5872a4;
  --orange-primary: #f7941d;
  --orange-secondary: #f15a29;
  --green-secondary: #338e8a;
  --pink-secondary: #ed145b;
  --black: #18181a;
  --gray01: #2f2f31;
  --gray02: #5d5d5f;
  --gray03: ##8c8c8d;
  --gray04: #bababa;
  --gray05: #f1f1f1;
}
